.idea/
.env*/
env*/
.ipynb_checkpoints/
__pycache__/
.~lock.*#

# build dirs from pyinstaller
dist/
# allow this directory for build configurations / scripts
!build/

# build dirs from nuitka
__main__.build
__main__.dist